[color]
        ui = true
[hub]
        protocol = https
[core]
        excludesfile = ~/.gitignore
        editor = subl -w
[user]
        name = MakerSquare Student
        email = students@themakersquare.com
[merge]
        tool = opendiff
